In [3]:
%load_ext sql
%sql sqlite:///ebaydata.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%%sql
WITH itemsGrouped as 
    (SELECT COUNT(*) as num
     FROM Category
     GROUP BY Category.itemID)
SELECT COUNT(*)
FROM itemsGrouped
WHERE num = 4;

 * sqlite:///ebaydata.db
Done.

[(8365,)]