In [15]:
%reload_ext sql
%sql sqlite:///ebaydata.db

'Connected: @ebaydata.db'

In [3]:
%%sql
SELECT count(*) 
FROM User

 * sqlite:///ebaydata.db
Done.

[(13422,)]

In [4]:
%%sql 
SELECT count(*) 
FROM User 
WHERE Location = 'New York'

 * sqlite:///ebaydata.db
Done.

[(80,)]

In [5]:
%%sql
WITH itemsGrouped as 
    (SELECT COUNT(*) as num
     FROM Category
     GROUP BY Category.itemID)
SELECT COUNT(*)
FROM itemsGrouped
WHERE num = 4;

 * sqlite:///ebaydata.db
Done.

[(8365,)]

In [6]:
%%sql
SELECT itemID
FROM Item
WHERE currently = (SELECT max(currently)
                    FROM Item)

 * sqlite:///ebaydata.db
Done.

[(1046871451,)]

In [7]:
%%sql
SELECT count(DISTINCT User.userID)
FROM User, Item
WHERE User.rating > 1000 and User.userID == Item.seller

 * sqlite:///ebaydata.db
Done.

[(3130,)]

In [18]:
%%sql
SELECT count(DISTINCT Item.seller)
FROM Item, Bid
WHERE Item.seller == Bid.bidder

 * sqlite:///ebaydata.db
Done.

[(6717,)]

In [21]:
%%sql
SELECT count(DISTINCT category)
FROM Item, Bid, Category
WHERE Item.itemID == Bid.itemID and
    Item.itemID == Category.itemID and
    Bid.amount > 100

 * sqlite:///ebaydata.db
Done.

[(150,)]