In [29]:
%load_ext sql
%sql sqlite:///ebaydata.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @ebaydata.db'

In [30]:
%%sql
SELECT count(*) 
FROM User

 * sqlite:///ebaydata.db
Done.

[(13422,)]

In [31]:
%%sql 
SELECT count(*) 
FROM User 
WHERE Location = 'New York'

 * sqlite:///ebaydata.db
Done.

[(80,)]